
body {
  margin: 0;
}


.map {
  width: 83vw;
  height: 89vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: #c14c99;
}

.logo {
  width: 50px;
  height: 50px;
}

.title {
  font-size: xx-large;
  font-family: 'Space Mono', monospace;
  padding-left: 15px;
  color: #c14c99;
}